@import "~@angular/material/theming";

// Custom theme
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//cdn.materialdesignicons.com/2.2.43/css/materialdesignicons.min.css');
@include mat-core();
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);

// Custom styles
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.mat-table {
  width: 100%;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

